@(imageForm: Form[Image])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@main {
    
    <h1>Add image</h1>
    
    @form(routes.Images.save()) {
              
        <fieldset>
                
            @inputText(imageForm("name"), '_label -> "Image name")
           
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this image" class="btn primary"> or 
            <a href="@routes.Images.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}