@(currentPage: Page[Image], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Images.list(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@main {
    
    <h1>@Messages("images.list.title", currentPage.total)</h1>

    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }

    <div id="actions">        
        <form action="@routes.Images.list()" method="GET">
		  <fieldset>
		  <div class="clearfix">
            <input id="searchbox" type="text" name="f" value="@currentFilter" placeholder="Filter by image name...">
            <div class="input">		    
		    	<button id="searchsubmit" type="submit" class="btn btn btn-primary">Filter by name</button>
		    </div>
		  </div>
		  </fieldset>
		</form>	               
    </div>
    
    @Option(currentPage.items).filterNot(_.isEmpty).map { images =>
        
        
        <div class="row-fluid">        	
            @for((image, i) <- images.zipWithIndex) {
            @{
            if (i % 3 == 0 && i != 0) Html("</ul>")
            if (i % 3 == 0) Html("<ul class=\"thumbnails\">")
            }            	                        
            
              <li class="span4">
                <div class="thumbnail">
                  <img data-src="holder.js/300x200" alt="">
                  <div class="caption">
                    <h3><a href="@routes.Images.edit(image.id)">@image.name</a></h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  </div>
                </div>
              </li>
            @{
            if (i == images.size - 1) Html("</ul>")
            }            	                                      
            }                    	        	 
        </div>
        
        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li> 
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + images.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li> 
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }.getOrElse {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    }
            
}