@(metadataForm: Form[Metadata])

@import helper._
@import helper.twitterBootstrap._

@if(metadataForm.hasErrors) {
    <div class="alert-message error">
        <p><strong>Oops</strong> Please fix all errors</p>
    </div>
}

@helper.form(action = routes.Metadatas.submit) {

	<fieldset>
		<legend>Image Metadata</legend>		
		@inputText(metadataForm("name"), '_label -> "Name", '_showConstraints -> false)	
	</fieldset>
	
	<div class="actions">
		<input type="submit" class="btn primary" value="Insert">
	</div>
}
